name: CI
on: [pull_request, merge_group]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, clippy, rust-src
          targets: aarch64-unknown-none-softfloat
      - run: cargo fmt --all -- --check
      - run: cargo clippy --workspace --exclude kernel --exclude dyld
      - run: cargo clippy --workspace --target aarch64-unknown-none-softfloat -p kernel -p dyld
